<div class="welcome-container">
  <div class="grid">
    <div class="me-image-container">
      <img src="assets/welcome-me.png">
    </div>
    <div class="me-text-container">
      <p>Привет - мы <strong>Zanovo</strong>!</p>
      <p>Это сникер-химчистка, которая занимается уходом за твоей обувью и не только ей.</p>
      <p>Работаем для того, чтобы ты мог дольше наслаждаться и пользоваться своей любимой обувью.</p>
      <p>Предоставляем весь спектр услуг: чистка, покраска, реставрация, ремонт кроссовок, кед, туфель и ботинок.</p>
      <p>И делаем как для себя.</p>
    </div>
  </div>
</div>