<div class="welcome-container">
  <div class="me-image-container">
    <img src="assets/welcome.jpg" />
    <div class="me-text-container">
      <div class="title">Привет - мы <strong class="name">ZANOVO</strong>!</div>
      <div class="description">Это сникер-химчистка, которая занимается уходом за твоей обувью и не только ей.</div>
      <!-- <p>Работаем для того, чтобы ты мог дольше наслаждаться и пользоваться своей любимой обувью.</p>
      <p>Предоставляем весь спектр услуг: чистка, покраска, реставрация, ремонт кроссовок, кед, туфель и ботинок.</p>
      <p>И делаем как для себя.</p> -->
    </div>
  </div>
</div>