<div class="welcome-container">
  <div class="me-image-container">
    <img fetchpriority="high" src="assets/welcome.webp" alt="Welcome"/>
    <div class="me-text-container">
      <div class="title">Привет - мы <strong class="name">ZANOVO</strong>!</div>
      <div class="description">Это сникер-химчистка, которая занимается уходом за твоей обувью и не только ей.</div>
    </div>
  </div>
  <div class="me-text-container-mobile">
    <div class="title">Привет - мы <strong class="name">ZANOVO</strong>!</div>
    <div class="description">Это сникер-химчистка, которая занимается уходом за твоей обувью и не только ей.</div>
  </div>
</div>