.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 4rem);
  width: 70vw;
  margin: auto;

  .me-image-container {
    position: relative;
    // height: calc(100vh - 10rem);

    // border-radius: 1rem;
    
    
    img {
      height: auto;
      width: 100%;
      // border-top-left-radius: 1rem;
      // border-bottom-left-radius: 1rem;
    }
  }

  .me-text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #00000095;

    padding: 1rem;

    color: #B4B4B4;
    // color: #1E1E1E;
    font-size: 1rem;

    .title {
      font-size: 2rem;
      line-height: 2rem;
      margin-bottom: .5rem;
    }

    .name {
      color: #EF75FD;
    }

    .description {
      color: #969696;
    }
  }
}