<div class="footer-container">
  <div class="info-container">
    <div class="block">
      <div class="title">Наш геструм в Минске</div>
      <div class="place-details">
        <p><a href="https://goo.gl/maps/dhRYpxhsRftoNJTE7" target="_blank">ул. Короля, 51</a></p>
        <p><a href="tel:+375296383203" target="_blank">+375 29 638 32 03</a>&nbsp;</p>
        <p>ПН - СБ (11:00 - 20:00)</p>
        <p>ВС - Выходной</p>
      </div>
    </div>
    <div class="block">
      <div class="title">Остались вопросы?</div>
      <div class="contacts">
        <a href="mailto:zanovo.sh@gmail.com" rel="noreferrer" target="_blank" class="social">E-mail</a>
        <a href="https://telegram.me/zanovo911" rel="noreferrer" target="_blank" class="social">Telegram</a>
        <a href="viber://chat?number=%2B375296383203" rel="noreferrer" target="_blank" class="social">Viber</a>
      </div>
    </div>
  </div>
  <div class="copyright">
    &copy; Zanovo {{year}}. All Rights Reserved.
  </div>
</div>