.footer-container {
  padding: 0.5rem 1rem;
  padding-top: 3rem;
}

.info-container {
  margin: 1rem auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.block {
  width: 100%;

  .title {
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-transform: uppercase;
    color: #555555;

    padding-bottom: 1rem;
    border-bottom: 1px solid;
  }
}

.document-link {
  text-decoration: underline;
  cursor: pointer;
}

/* Mobile View */
@media screen and (min-width: 250px) and (max-width: 720px) {
  .info-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.copyright {
  color: #555555;
  text-align: center;
}

.place-details {
  margin: 1rem;
  font-size: 1rem;
  line-height: 1rem;
  color: #b4b4b4;

  a {
    text-decoration: none;
    color: #b4b4b4;
  }
}

.contacts {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 1rem;

  .social {
    margin-bottom: 0.5rem;
    min-height: 2rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #969696;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #555555;

    cursor: pointer;

    &:hover {
      background-color: #7a63ff;
      color: #e7e7e7;
    }
  }
}
