<div class="delivery-container">
  <div class="title-container">
    <div class="line"></div>
    <div class="title">Скидки</div>
    <div class="line"></div>
  </div>
  <div class="content-container">
    <div class="description">
      Мы очень любим встречаться с нашими друзьями, и чтобы эти встречи были приятные у нас есть такие предложения
    </div>
    <div class="seven">
      7
    </div>
    <div class="text">
      Почистим твою каждую 7-ю пару обуви бесплатно
    </div>
    <div class="ten">
      10%
    </div>
    <div class="text">
      Получай скидки на все услуги при условии оформления нового заказа в момент, когда получаешь готовую обувь
    </div>
  </div>

</div>