<div class="header-container">
  <div class="logo-container">
    <a routerLink="/">
      <img src="assets/logo.svg">
    </a>
  </div>
  <div class="links-container">
    <a *ngFor="let page of PAGES_CONFIG" [routerLink]="page.path" class="link" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">
      {{page.title}}
    </a>
    <a rel="noreferrer" href="tel:+375296383203" class="call-us" (click)="trackCall()">
      Позвонить
    </a>
  </div>
</div>
<div class="header-container-mobile">
  <div class="burger" (click)="open()">
    <mat-icon>menu</mat-icon>
  </div>
  <div class="logo-container">
    <a routerLink="/">
      <img src="assets/logo.svg">
    </a>
  </div>
</div>