.header-container {
  width: 70vw;
  margin: auto;
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: flex;
  justify-content: space-between;
}

.header-container-mobile {
  display: none;

  .burger {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: .5rem;

    cursor: pointer;

    display: flex;
    align-items: center;

    color: #B4B4B4;

    mat-icon {
      height: 2rem;
      width: 2rem;
      font-size: 2rem;
    }
  }
}

/* Tablet View */
@media screen and (min-width:250px) and (max-width:1024px) {
  .header-container {
    width: 100vw;
    padding: .5rem 1rem;
  }
}

.logo-container {
  height: 4rem;

  img {
    height: 100%;
  }
}

.links-container {
  display: flex;
  align-items: center;
  font-size: .8rem;
  font-weight: bold;

  .link {
    color: #B4B4B4;
    text-decoration: none;
    text-transform: uppercase;

    &.active {
      color: #EF75FD;
    }

    &:not(:first-child) {
      margin-left: 1rem;
    }
  }
}

.call-us {
  margin-left: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  padding: .5rem 1rem;
  background-color: #7A63FF;
  color: #E7E7E7;
}

/* Mobile View */
@media screen and (min-width:250px) and (max-width:820px) {
  .header-container {
    display: none;
  }
  .header-container-mobile {
    margin: .5rem;
    display: flex;
    justify-content: center;
    position: relative;
  }
}