<div class="past-works-container">
  <div class="title">Меньше слов — Больше дела.</div>
  <div class="sub-title">Смотри наши работы "до / после"</div>

  <div class="works-container">
    <div class="element">
      <img src="assets/after_1.jpeg" alt="" class="img-back">
      <img src="assets/before_1.jpeg" alt="" class="img-front">
    </div>
    <div class="element">
      <img src="assets/after_2.jpeg" alt="" class="img-back">
      <img src="assets/before_2.jpeg" alt="" class="img-front">
    </div>
    <div class="element">
      <img src="assets/after_3.jpeg" alt="" class="img-back">
      <img src="assets/before_3.jpeg" alt="" class="img-front">
    </div>
    <div class="element">
      <img src="assets/after_4.jpeg" alt="" class="img-back">
      <img src="assets/before_4.jpeg" alt="" class="img-front">
    </div>
    <div class="element">
      <video
        src="assets/work_3.mp4"
        poster="assets/poster_work_3.jpg"
        loop
        controls
        playsInline
      ></video>
    </div>
    <div class="element">
      <video
        src="assets/work_1.mp4"
        poster="assets/poster_work_1.jpg"
        loop
        controls
        playsInline
      ></video>
    </div>
    <div class="element">
      <video
        src="assets/work_4.mp4"
        poster="assets/poster_work_4.jpg"
        loop
        controls
        playsInline
      ></video>
    </div>
    <div class="element">
      <video
        src="assets/work_2.mp4"
        poster="assets/poster_work_2.jpg"
        loop
        controls
        playsInline
      ></video>
    </div>
  </div>
</div>