<div class="past-works-container">
  <div class="title">Меньше слов — Больше дела.</div>
  <div class="sub-title">Смотри наши работы "до / после"</div>

  <div class="works-container">
    <div class="element">
      <img src="assets/after_1.jpeg" alt="" class="img-back">
      <img src="assets/before_1.jpeg" alt="" class="img-front">
    </div>
    <div class="element">
      <img src="assets/after_2.jpeg" alt="" class="img-back">
      <img src="assets/before_2.jpeg" alt="" class="img-front">
    </div>
    <div class="element">
      <img src="assets/after_3.jpeg" alt="" class="img-back">
      <img src="assets/before_3.jpeg" alt="" class="img-front">
    </div>
    <div class="element">
      <img src="assets/after_4.jpeg" alt="" class="img-back">
      <img src="assets/before_4.jpeg" alt="" class="img-front">
    </div>
  </div>
</div>