<div class="past-works-container">
  <div class="title">Меньше слов — Больше дела.</div>
  <div class="sub-title">Смотри наши работы "до / после"</div>

  <div class="works-container">
    <div class="element">
      <img fetchpriority="low" src="assets/after_1.webp" alt="Work 1 After" class="img-back">
      <img src="assets/before_1.webp" alt="Work 1 Before" class="img-front">
    </div>
    <div class="element">
      <img fetchpriority="low" src="assets/after_2.webp" alt="Work 2 After" class="img-back">
      <img src="assets/before_2.webp" alt="Work 2 Before" class="img-front">
    </div>
    <div class="element">
      <img fetchpriority="low" src="assets/after_3.webp" alt="Work 3 After" class="img-back">
      <img src="assets/before_3.webp" alt="Work 3 Before" class="img-front">
    </div>
    <div class="element">
      <img fetchpriority="low" src="assets/after_4.webp" alt="Work 4 After" class="img-back">
      <img src="assets/before_4.webp" alt="Work 4 Before" class="img-front">
    </div>
    <div class="element">
      <video src="assets/work_3.mp4" poster="assets/poster_work_3.webp" loop controls playsInline></video>
    </div>
    <div class="element">
      <video src="assets/work_1.mp4" poster="assets/poster_work_1.webp" loop controls playsInline></video>
    </div>
    <div class="element">
      <video src="assets/work_4.mp4" poster="assets/poster_work_4.webp" loop controls playsInline></video>
    </div>
    <div class="element">
      <video src="assets/work_2.mp4" poster="assets/poster_work_2.webp" loop controls playsInline></video>
    </div>
  </div>


  <a href="https://api.instagram.com/zanovo.mnsk/" target="_blank" class="more-inst-link">
    <div class="more-inst-text">
      <p>Смотреть больше работ в Instagram</p>
    </div>
  </a>
</div>