.delivery-and-loyalty {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: .5rem;

  margin: 6rem 0;

  .delivery,
  .loyalty {
    flex: 1;
  }

  .delivery {
    margin: 0 .5rem;
  }

  .loyalty {
    margin: 0 .5rem;
  }
}

.maps-container {
  margin-top: 6rem;
}
.container-xl {
  width: 70vw;
  margin: auto;
}

/* Mobile View */
@media screen and (min-width:250px) and (max-width:1024px) {
  .container-xl {
    width: 100vw;
    padding: 0 1rem;
  }
}
/* Mobile View */
@media screen and (min-width:250px) and (max-width:820px) {
  .delivery-and-loyalty {
    grid-template-columns: 1fr;
  }
}