.delivery-and-loyalty {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  margin: 6rem 0;

  .delivery,
  .loyalty {
    flex: 1;
  }

  .delivery {
    margin: 0 .5rem;
  }

  .loyalty {
    margin: 0 .5rem;
  }
}