.delivery-container {
  height: 25rem;
  width: 100%;
  min-width: 15rem;

  border: 1px solid #555555;

  margin-top: 1rem;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5rem;

  padding: 1rem;

  .title {
    color: #E7E7E7;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin: 0 1rem;
  }

  .line {
    flex: 1;
    border-bottom: 1px solid #555555;
  }
}

.content-container {
  padding: 1rem;
  color: #B4B4B4;
  font-size: 1rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .free-delivery {
    text-align: center;
    font-weight: bold;

    .price {
      color: #E7E7E7;
      font-size: 1.2rem;
    }
  }

  .posts-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1rem 0;

    .post-example {
      height: 2rem;
      margin-bottom: .5rem;

      img {
        height: 100%;
      }
    }
  }

  .posts {
    text-align: center;
  }
}