<div class="delivery-container">
  <div class="title-container">
    <div class="line"></div>
    <div class="title">Доставка</div>
    <div class="line"></div>
  </div>
  <div class="content-container">
    <div class="free-delivery">
      Бесплатная доставка от <span class="price">45</span> BYN.
    </div>
    <div class="posts-images">
      <div class="post-example">
        <img src="assets/europost.svg" alt="">
      </div>
      <div class="post-example">
        <img src="assets/belpost.png" alt="">
      </div>
    </div>
    <div class="posts">
      <p>Мы дружим с любой почтой и</p>
      <p>пользуемся Yandex-доставкой</p>
    </div>
    <div class="posts-images">
      <div class="post-example">
        <img src="assets/yandex-delivery.svg" alt="">
      </div>
    </div>
    <div class="posts">
      
    </div>
  </div>

</div>