<div class="delivery-container">
  <div class="title-container">
    <div class="line"></div>
    <div class="title">Доставка</div>
    <div class="line"></div>
  </div>
  <div class="content-container">
    <div class="free-delivery">
      Бесплатная доставка от <span class="price">120</span> BYN действует только
      при использовании услуг нашего курьера, доставка сторонними сервисами
      оплачивается по их тарифам
    </div>
    <div class="posts-images">
      <div class="post-example">
        <img src="assets/europost.svg" alt="Europost" />
      </div>
      <div class="post-example">
        <img src="assets/belpost.webp" alt="Belpost" />
      </div>
    </div>
    <div class="posts">
      Мы дружим с любой почтой и <br />
      пользуемся Yandex-доставкой
    </div>
    <div class="posts-images">
      <div class="post-example">
        <img src="assets/yandex-delivery.svg" alt="Yandex delivery" />
      </div>
    </div>
    <div class="posts">Доставка по тарифам службы доставки</div>
  </div>
</div>
