.delivery-container {
  height: 100%;
  width: 100%;
  min-width: 15rem;

  border: 1px solid #555555;

  margin-top: 1rem;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 5rem;

  padding: 1rem;

  .title {
    color: #e7e7e7;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin: 0 1rem;
  }

  .line {
    flex: 1;
    border-bottom: 1px solid #555555;
  }
}

.content-container {
  padding: 1rem;
  color: #b4b4b4;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .free-delivery {
    text-align: center;
    font-weight: bold;

    .price {
      color: #e7e7e7;
      font-size: 1.2rem;
    }
  }

  .posts-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1rem 0;

    .post-example {
      height: 2rem;
      margin-bottom: 0.5rem;

      img {
        height: 100%;
      }
    }
  }

  .posts {
    font-size: 0.8rem;
    // font-size: rem;
    text-align: center;
  }
}
