<div сlass="container">
  <div class="price-text-container">
    <p>Ежедневная или зимняя — неважно, твоя обувь в надежных руках.</p>
    <p>Узнай, какие услуги мы предоставляем,</p>
    <p>чтобы реинкарнировать ее до парадного состояния.</p>
  </div>

  <div class="prices-container">
    <mat-tab-group
      mat-stretch-tabs 
      [disablePagination]="true" 
      animationDuration="1000ms"
      (selectedTabChange)="onTabChange($event)"
    >
      <!-- Ready -->
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab-label">
            <div class="image">
              <img src="assets/casual-active.webp" alt="Urban">
            </div>
            <div class="text">
              Urban
            </div>
          </div>
        </ng-template>
        <div class="tab-content">
          <div class="title">Urban</div>
          <div class="materials">кожа | замша | нубук | синтетика | сетка </div>
          <div class="description">
            <p>КОМПЛЕКСНАЯ ЧИСТКА</p>
            <p>КРОССОВОК, КЕД И ДРУГОЙ ОБУВИ</p>
            <p>ИЗ ЛЮБЫХ МАТЕРИАЛОВ</p>
          </div>
          <div class="services">
            <div class="service-title">Услуга</div>
            <div class="service-timing">
              <p>Время работы:</p>
              <p class="time">от 5 будних дней</p>
            </div>
            <div class="services-list">
              <ul>
                <li>Полная чистка специально разработанным средством (очищение въевшейся грязи/пятен)</li>
                <li>Глубокая чистка подошвы</li>
                <li>Глубокая ручная чистка</li>
                <li>Восстановление формы</li>
                <li>Удаление катышков на внутренней стороне обуви</li>
                <li>Дезинфекция</li>
                <li>Чистка шнурков и стельки</li>
                <li>Сушка</li>
                <li>Финишная детальная очистка/обработка</li>
              </ul>
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">48</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Детская обувь до 34 размера
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">25</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="hint">
            * Любые работы выполняются по предварительной оплате 50%
          </div>
        </div>
      </mat-tab>

      <!-- Ready -->
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab-label">
            <div class="image">
              <img src="assets/frozen-active.webp" alt="Cold">
            </div>
            <div class="text">
              Cold
            </div>
          </div>
        </ng-template>
        <div class="tab-content">
          <div class="title">Cold</div>
          <div class="materials">кожа | замша | нубук | синтетика | сетка </div>
          <div class="description">
            <p>UGG | CATERPILLAR | TIMBERLAND ботинок и сапог</p>
          </div>
          <div class="services">
            <div class="service-title">Услуга</div>
            <div class="service-timing">
              <p>Время работы:</p>
              <p class="time">от 5 будних дней</p>
            </div>
            <div class="services-list">
              <ul>
                <li>Полная обработка фирменным составом (очищение въевшейся грязи/пятен)</li>
                <li>Глубокая чистка подошвы</li>
                <li>Глубокая чистка внутренней части обуви</li>
                <li>Восстановление формы</li>
                <li>Удаление катышков на внутренней стороне обуви</li>
                <li>Дезинфекция</li>
                <li>Стирка шнурков и стельки</li>
                <li>Сушка</li>
                <li>Финишная обработка</li>
              </ul>
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">54</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>

          <div class="hint">
            * Любые работы выполняются по предварительной оплате 50%
          </div>

          <div class="description">
            <p>Лыжные и сноубордные ботинки | Коньки</p>
          </div>

          <div class="services">
            <div class="service-title">Услуга</div>
            <div class="service-timing">
              <p>Время работы:</p>
              <p class="time">от 5 будних дней</p>
            </div>
            <div class="services-list single-item">
              Комплекс чистки и полировка
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">40</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>

          <div class="hint">
            * Любые работы выполняются по предварительной оплате 50%
          </div>
        </div>
      </mat-tab>

      <!-- Ready -->
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab-label">
            <div class="image">
              <img src="assets/care-active.webp" alt="Fast">
            </div>
            <div class="text">
              Fast/Hand
            </div>
          </div>
        </ng-template>
        <div class="tab-content">
          <div class="title">Fast</div>
          <div class="materials">кожа | замша | нубук | синтетика | сетка </div>
          <div class="description">
            <p>Поверхностная чистка обуви</p>
          </div>
          <div class="services">
            <div class="service-title">Услуга</div>
            <div class="service-timing">
              <p>Время работы:</p>
              <p class="time">от 2 будних дней</p>
            </div>
            <div class="services-list">
              <ul>
                <li>Поверхностная чистка (без выведения пятен/реагентов/детальной прочистки)</li>
                <li>Легкая чистка подошвы</li>
                <li>Продувка внутреннней части подошвы сжатым воздухом и паром</li>
                <li>Обработка кондиционером и пропиткой</li>
              </ul>
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">35</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="hint">
            <div>* Отличный вариант, если у тебя нет времени ждать и с большего хочешь привести обувь в порядок</div>
            <div>* Возможно использовать как подготовительную чистку для покраски</div>
            <div>* Подходит не для всех видов обуви</div>
            <div>** Любые работы выполняются по предварительной оплате 50%</div>
          </div>

          <div class="title secondary">Hand</div>
          <div class="materials">кожа | замша | нубук | синтетика | сетка </div>
          <div class="description">
            <p>Используется для обуви К которой не подходят процедуры всех чисток</p>
          </div>
          <div class="services">
            <div class="service-title">Услуга</div>
            <div class="service-timing">
              <p>Время работы:</p>
              <p class="time">от 2 будних дней</p>
            </div>
            <div class="services-list single-item">
              Чистка с помощью сухого способа или частично влажная чистка
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">55</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="hint">
            <div>* Любые работы выполняются по предварительной оплате 50%</div>
          </div>
        </div>
      </mat-tab>

      <!-- Ready -->
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab-label">
            <div class="image">
              <img src="assets/repair-active.webp"  alt="Repair">
            </div>
            <div class="text">
              Ремонт/Покраска
            </div>
          </div>
        </ng-template>
        <div class="tab-content">
          <div class="title">Ремонт</div>
          <!-- <div class="description">
            <p>Сделаем любой ремонт вашей обуви</p>
          </div> -->
          <div class="services">
            <div class="service-title">Услуга</div>
            <div class="service-timing">
              <p>Время работы:</p>
              <p class="time">от 2 будних дней</p>
            </div>
            <div class="services-list single-item">
              Кожаные карманы внутри обуви
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">45</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Тканевые карманы внутри обуви
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">85</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Латка под подошву <div class="service-hint">*разрыв материала рядом с подошвой</div>
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">25</div>
                <span class="from-to-text">до</span>
                <div class="price">35</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Латка без прошивки <div class="service-hint">*латка без прошивки может использоваться как профилактическая
                латка (на новой обуви), так и на разрывах в обуви где нет возможности прошить</div>
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">15</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Латка с прошивкой
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">20</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Подклейка
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">5</div>
                <span class="from-to-text">до</span>
                <div class="price">50</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Декоротивная латка <div class="service-hint">*декоротивная латка применяется в случаях, где нельзя уже
                реставрировать сетку или разрыв</div>
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">20</div>
                <span class="from-to-text">до</span>
                <div class="price">50</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Замена сетки на кроссовках
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">50</div>
                <span class="from-to-text">до</span>
                <div class="price">98</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Реставрация сетки <div class="service-hint">*подшив/стягивание сетки на сколько это возможно, стоимость
                указана за один разрыв сетки/ткани</div>
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">10</div>
                <span class="from-to-text">до</span>
                <div class="price">20</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Ремонт шва
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">3</div>
                <span class="from-to-text">до</span>
                <div class="price">10</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Профилактика подошвы
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">40</div>
                <span class="from-to-text">до</span>
                <div class="price">70</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Набойки
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">25</div>
                <span class="from-to-text">до</span>
                <div class="price">40</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="hint">
            <div>* Установленнный диапозон цены обозначает, что менеджеру при осмотре требуется оценка по времени и
              использованию материалов для работы.</div>
            <div>** Любые работы выполняются по предварительной оплате 50%</div>
          </div>

          <div class="title secondary">Покраска</div>
          <div class="materials">кожа | замша | нубук | сетка </div>
          <div class="description"></div>
          <div class="services">
            <div class="service-title">Услуга</div>
            <div class="service-timing">
              <p>Время работы:</p>
              <p class="time">от 5 будних дней</p>
            </div>
            <div class="services-list single-item">
              Восстановление основного цвета
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">50</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Дополнительный цвет
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">20</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Покраска боковой части подошвы
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">25</div>
                <span class="from-to-text">до</span>
                <div class="price">50</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Сапоги и ботфорды
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">50</div>
                <span class="from-to-text">до</span>
                <div class="price">90</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Реставрация кожи
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">25</div>
                <span class="from-to-text">до</span>
                <div class="price">50</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="hint">
            <div>* Установленнный диапозон цены обозначает, что менеджеру при осмотре требуется оценка по времени и
              использованию материалов для работы.</div>
            <div>* Технологически покраска и реставрация обуви невозможна без чистки.</div>
            <div>** Любые работы выполняются по предварительной оплате 50%</div>
          </div>
        </div>
      </mat-tab>

      <!-- Ready -->
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab-label">
            <div class="image">
              <img src="assets/bags-active.webp" alt="Bags">
            </div>
            <div class="text">
              Сумки
            </div>
          </div>
        </ng-template>
        <div class="tab-content">
          <div class="title">Сумки</div>
          <div class="materials">кожа | замша | нубук </div>
          <div class="description">
            <p>Сделаем восстановление</p>
            <p>твоей любимой сумки</p>
            <p>с индивидуальным подходом</p>
          </div>
          <div class="services">
            <div class="service-title">Услуга</div>
            <div class="service-timing">
              <p>Время работы:</p>
              <p class="time">от 7 будних дней</p>
            </div>
            <div class="services-list single-item">
              Чистка + покраска: кошелек, косметичка
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">50</div>
                <span class="from-to-text">до</span>
                <div class="price">80</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Чистка + покраска: кепка
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">25</div>
                <span class="from-to-text">до</span>
                <div class="price">50</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Чистка + покраска: сумка длинной до 40 см
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">98</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Чистка + покраска: сумка длинной от 40 см
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">140</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Реставрация кожи
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">25</div>
                <span class="from-to-text">до</span>
                <div class="price">50</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Чистка замши
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">55</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="hint">
            <div>* Любые работы выполняются по предварительной оплате 50%</div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="contact-container">
    <div class="contact-text">
      <p>ДЛЯ БОЛЕЕ ТОЧНОЙ ОЦЕНКИ СТОИМОСТИ,</p>
      <p>ВЫШЛИТЕ 2-3 ФОТО СВОИХ ИЗДЕЛИЙ УДОБНЫМ СПОСОБОМ</p>
    </div>
      <a href="mailto:zanovo.sh@gmail.com" rel="noreferrer" target="_blank" class="social email" (click)="trackCommunication('email')">E-mail</a>
      <a href="https://t.me/znvmnsk" rel="noreferrer" target="_blank" class="social telegram" (click)="trackCommunication('telegram')">Telegram</a>
      <a href="viber://chat?number=%2B375445699222" rel="noreferrer" target="_blank" class="social viber" (click)="trackCommunication('viber')">Viber</a>
  </div>
</div>