<div сlass="container">
  <div class="price-text-container">
    <p>Ежедневная или зимняя — неважно, твоя обувь в надежных руках.</p>
    <p>Узнай, какие услуги мы предоставляем,</p>
    <p>чтобы реинкарнировать ее до парадного состояния.</p>
  </div>

  <div class="prices-container">
    <mat-tab-group
      mat-stretch-tabs
      [disablePagination]="true"
      animationDuration="1000ms"
      (selectedTabChange)="onTabChange($event)"
    >
      <!-- Ready -->
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab-label">
            <div class="image">
              <img src="assets/casual-active.webp" alt="Urban" />
            </div>
            <div class="text">Urban</div>
          </div>
        </ng-template>
        <div class="tab-content">
          <div class="title">Urban</div>
          <div class="materials">кожа | замша | нубук | синтетика | сетка</div>
          <div class="description">
            <p>КОМПЛЕКСНАЯ ЧИСТКА</p>
            <p>КРОССОВОК, КЕД И ДРУГОЙ ОБУВИ</p>
            <p>ИЗ ЛЮБЫХ МАТЕРИАЛОВ</p>
          </div>
          <div class="services">
            <div class="service-title">Услуга</div>
            <div class="service-timing">
              <p>Время работы:</p>
              <p class="time">от 5 будних дней</p>
            </div>
            <div class="services-list">
              <ul>
                <li>
                  Полная чистка специально разработанным средством (очищение
                  въевшейся грязи/пятен)
                </li>
                <li>Глубокая чистка подошвы</li>
                <li>Глубокая ручная чистка</li>
                <li>Восстановление формы</li>
                <li>Удаление катышков на внутренней стороне обуви</li>
                <li>Дезинфекция</li>
                <li>Чистка шнурков и стельки</li>
                <li>Сушка</li>
                <li>Финишная детальная очистка/обработка</li>
              </ul>
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">77</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Глубокая чистка / отбеливание подошвы
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">38</div>
                <span class="from-to-text">до</span>
                <div class="price">58</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="hint">
            * Повышающий коэффициент + 30% к стоимости для обуви после
            самостоятельной чистки/стирки или при очень сильных загрязнениях
            обуви, включающих застарелые/въевшиеся пятна, требующие
            дополнительных усилий и специализированных средств для их удаления
            <br />
            ** Любые работы выполняются по предварительной оплате 50%
            <br />
            *** Предоставление услуг день в день без очереди - 100%.
            <br />
            *** Предоставление услуг без очереди в течение 2-3 дней - 40%.
          </div>
        </div>
      </mat-tab>

      <!-- Ready -->
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab-label">
            <div class="image">
              <img src="assets/frozen-active.webp" alt="Cold" />
            </div>
            <div class="text">Cold</div>
          </div>
        </ng-template>
        <div class="tab-content">
          <div class="title">Cold</div>
          <div class="materials">кожа | замша | нубук | синтетика | сетка</div>
          <div class="description">
            <p>
              КОМПЛЕКСНАЯ ЧИСТКА ЛЮБОГО ВИДА ЗИМНЕЙ ОБУВИ ИЗ ЛЮБЫХ МАТЕРИАЛОВ,
              ВКЛЮЧАЯ ВЫВЕДЕНИЕ СОЛЕЙ И РЕАГЕНТОВ
            </p>
          </div>
          <div class="services">
            <div class="service-title">Услуга</div>
            <div class="service-timing">
              <p>Время работы:</p>
              <p class="time">от 5 будних дней</p>
            </div>
            <div class="services-list">
              <ul>
                <li>
                  Полная обработка фирменным составом (очищение въевшейся
                  грязи/пятен)
                </li>
                <li>Выведение солей</li>
                <li>Глубокая чистка подошвы</li>
                <li>Глубокая чистка внутренней части обуви</li>
                <li>Восстановление формы</li>
                <li>Удаление катышков на внутренней стороне обуви</li>
                <li>Дезинфекция</li>
                <li>Стирка шнурков и стельки</li>
                <li>Сушка</li>
                <li>Финишная обработка</li>
              </ul>
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">99</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>

          <div class="hint">
            * Повышающий коэффициент + 30% к стоимости для обуви после
            самостоятельной чистки/стирки или при очень сильных загрязнениях
            обуви, включающих застарелые/въевшиеся пятна, требующие
            дополнительных усилий и специализированных средств для их удаления
            <br />
            ** Любые работы выполняются по предварительной оплате 50%
            <br />
            *** Предоставление услуг день в день без очереди - 100%.
            <br />
            *** Предоставление услуг без очереди в течение 2-3 дней - 40%.
          </div>

          <div class="description">
            <p>Лыжные и сноубордные ботинки | Коньки</p>
          </div>

          <div class="services">
            <div class="service-title">Услуга</div>
            <div class="service-timing">
              <p>Время работы:</p>
              <p class="time">от 5 будних дней</p>
            </div>
            <div class="services-list single-item">
              Комплекс чистки и полировка
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">67</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>

          <div class="hint">
            * Любые работы выполняются по предварительной оплате 50%
            <br />
            ** Предоставление услуг день в день без очереди - 100%.
            <br />
            ** Предоставление услуг без очереди в течение 2-3 дней - 40%.
          </div>
        </div>
      </mat-tab>

      <!-- Ready -->
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab-label">
            <div class="image">
              <img src="assets/care-active.webp" alt="Fast" />
            </div>
            <div class="text">Fast/Detail</div>
          </div>
        </ng-template>
        <div class="tab-content">
          <div class="title">Fast</div>
          <div class="materials">кожа | замша | нубук | синтетика | сетка</div>
          <div class="description">
            <p>Поверхностная чистка обуви</p>
          </div>
          <div class="services">
            <div class="service-title">Услуга</div>
            <div class="service-timing">
              <p>Время работы:</p>
              <p class="time">от 2 будних дней</p>
            </div>
            <div class="services-list">
              <ul>
                <li>
                  Поверхностная чистка (без выведения пятен/реагентов/детальной
                  прочистки)
                </li>
                <li>Легкая чистка подошвы</li>
                <li>
                  Продувка внутреннней части подошвы сжатым воздухом и паром
                </li>
                <li>Обработка кондиционером и пропиткой</li>
              </ul>
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">55</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="hint">
            <div>
              * Отличный вариант, если у тебя нет времени ждать и с большего
              хочешь привести обувь в порядок
            </div>
            <div>
              * Возможно использовать как подготовительную чистку для покраски
            </div>
            <div>* Подходит не для всех видов обуви</div>
            <div>
              ** Повышающий коэффициент + 30% к стоимости для обуви после
              самостоятельной чистки/стирки или при очень сильных загрязнениях
              обуви, включающих застарелые/въевшиеся пятна, требующие
              дополнительных усилий и специализированных средств для их удаления
            </div>
            <div>
              *** Любые работы выполняются по предварительной оплате 50%
              <br />
              **** Предоставление услуг день в день без очереди - 100%.
              <br />
              **** Предоставление услуг без очереди в течение 2-3 дней - 40%.
            </div>
          </div>

          <div class="title secondary">Detail</div>
          <div class="materials">кожа | замша | нубук | синтетика | сетка</div>
          <div class="description">
            <p>
              Используется для обуви К которой не подходят процедуры всех чисток
            </p>
          </div>
          <div class="services">
            <div class="service-title">Услуга</div>
            <div class="service-timing">
              <p>Время работы:</p>
              <p class="time">от 2 будних дней</p>
            </div>
            <div class="services-list single-item">
              Чистка обуви, которая не переносит обильного намокания
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">130</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="hint">
            * Повышающий коэффициент + 30% к стоимости для обуви после
            самостоятельной чистки/стирки или при очень сильных загрязнениях
            обуви, включающих застарелые/въевшиеся пятна, требующие
            дополнительных усилий и специализированных средств для их удаления
            <br />
            ** Любые работы выполняются по предварительной оплате 50%
            <br />
            *** Предоставление услуг день в день без очереди - 100%.
            <br />
            *** Предоставление услуг без очереди в течение 2-3 дней - 40%.
          </div>
        </div>
      </mat-tab>

      <!-- Ready -->
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab-label">
            <div class="image">
              <img src="assets/repair-active.webp" alt="Repair" />
            </div>
            <div class="text">Ремонт/Покраска</div>
          </div>
        </ng-template>
        <div class="tab-content">
          <div class="title">Ремонт</div>
          <!-- <div class="description">
            <p>Сделаем любой ремонт вашей обуви</p>
          </div> -->
          <div class="services">
            <div class="service-title">Услуга</div>
            <div class="service-timing">
              <p>Время работы:</p>
              <p class="time">от 2 будних дней</p>
            </div>
            <div class="services-list single-item">
              Кожаные карманы внутри обуви
              <div class="service-hint">*при сильном повреждении + 20 руб.</div>
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">68</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Тканевые карманы внутри обуви
              <div class="service-hint">
                *есть ткань обычная и приближенная к оригиналу
              </div>
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">98</div>
                <span class="from-to-text">до</span>
                <div class="price">120</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Латка под подошву
              <div class="service-hint">*разрыв между верхом и подошвой</div>
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">64</div>
                <span class="from-to-text">до</span>
                <div class="price">74</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">Профилактическая латка</div>
            <div class="service-price">
              <div class="content">
                <div class="price">30</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Латка c реставрацией ткани/замши
              <div class="service-hint">
                *урепление протертого места изнутри и реставрация материала
                внутренним швом
              </div>
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">35</div>
                <span class="from-to-text">до</span>
                <div class="price">45</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Подклейка подошвы
              <div class="service-hint">*без гарантии</div>
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">40</div>
                <span class="from-to-text">до</span>
                <div class="price">90</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">Прошивка подошвы</div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">40</div>
                <span class="from-to-text">до</span>
                <div class="price">90</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Декоротивный элемент
              <div class="service-hint">
                *используется при разрыве материала и невозможности его
                реставрации
              </div>
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">40</div>
                <span class="currency">BYN / шт</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Замена сетки на кроссовках (носовая/передняя часть)
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">120</div>
                <span class="from-to-text">до</span>
                <div class="price">160</div>
                <span class="currency">BYN / пара</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Реставрация ткани/замши
              <div class="service-hint">*реставрация порванной сетки</div>
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">25</div>
                <span class="from-to-text">до</span>
                <div class="price">35</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">Ремонт шва</div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">10</div>
                <span class="from-to-text">до</span>
                <div class="price">35</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Наращивание протектора на подошву
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">90</div>
                <span class="from-to-text">до</span>
                <div class="price">120</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">Набойки</div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">45</div>
                <span class="from-to-text">до</span>
                <div class="price">80</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Профилактика (защита подошвы туфли)
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">60</div>
                <span class="from-to-text">до</span>
                <div class="price">80</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">Набойки шпильки</div>
            <div class="service-price">
              <div class="content">
                <div class="price">25</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Набойки шпильки (металл)
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">35</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Перетяжка каблука
              <div class="service-hint">
                *обязательная замена набоек входит в стоимость.
                <br />
                *стоимость указана без покраски каблука. Если цвет нестандартный
                — покраска новой кожи стоит +35-55 руб.
              </div>
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">95</div>
                <span class="from-to-text">до</span>
                <div class="price">125</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>

          <div class="hint">
            В нашем прейскуранте стоимости перечислены основные и базовые виды
            ремонта. Однако наши мастера по ремонту обуви обладают
            разнообразными решениями для разных задач. Мы готовы осмотреть
            нестандартные случаи и предложить индивидуальные решения.
            <br />
            * К любой услуге по ремонту может применится повышающий коэфициент +
            30% из-за особенностей модели обуви, конструкции, особых
            предпочтений заказа
            <br />
            ** Любые работы выполняются по предварительной оплате 50%
            <br />
            *** Предоставление услуг день в день без очереди - 100%.
            <br />
            *** Предоставление услуг без очереди в течение 2-3 дней - 40%.
          </div>

          <div class="title secondary">Восстановление цвета</div>
          <div class="materials">кожа | замша | нубук | сетка</div>
          <div class="description"></div>
          <div class="services">
            <div class="service-title">Услуга</div>
            <div class="service-timing">
              <p>Время работы:</p>
              <p class="time">от 5 будних дней</p>
            </div>
            <div class="services-list single-item">
              Восстановление основного цвета
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">79</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">Дополнительный цвет</div>
            <div class="service-price">
              <div class="content">
                <div class="price">35</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Восстановление основного цвета (сложный)
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">89</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Восстановление носов/пяток
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">55</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Восстановление цвета боковой части подошвы
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">25</div>
                <span class="from-to-text">до</span>
                <div class="price">50</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">Сапоги и ботфорды</div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">50</div>
                <span class="from-to-text">до</span>
                <div class="price">90</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">Реставрация кожи</div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">20</div>
                <span class="from-to-text">до</span>
                <div class="price">50</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="hint">
            <div>
              * Установленнный диапозон цены обозначает, что менеджеру при
              осмотре требуется оценка по времени и использованию материалов для
              работы.
            </div>
            <div>
              * Технологически восстановление цвета и реставрация обуви
              невозможна без чистки.
            </div>
            ** Любые работы выполняются по предварительной оплате 50%
            <br />
            *** Предоставление услуг день в день без очереди - 100%.
            <br />
            *** Предоставление услуг без очереди в течение 2-3 дней - 40%.
          </div>
        </div>
      </mat-tab>

      <!-- Ready -->
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="tab-label">
            <div class="image">
              <img src="assets/bags-active.webp" alt="Bags" />
            </div>
            <div class="text">Сумки</div>
          </div>
        </ng-template>
        <div class="tab-content">
          <div class="title">Сумки</div>
          <div class="materials">кожа | замша | нубук</div>
          <div class="description">
            <p>Сделаем восстановление</p>
            <p>твоей любимой сумки</p>
            <p>с индивидуальным подходом</p>
          </div>
          <div class="services">
            <div class="service-title">Услуга</div>
            <div class="service-timing">
              <p>Время работы:</p>
              <p class="time">от 7 будних дней</p>
            </div>
            <div class="services-list single-item">
              Чистка + восстановление цвета: кошелек, косметичка
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">50</div>
                <span class="from-to-text">до</span>
                <div class="price">80</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Чистка + восстановление цвета: куртка
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">280</div>
                <span class="from-to-text">до</span>
                <div class="price">890</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Чистка + восстановление цвета: сумка длинной до 40 см
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">98</div>
                <span class="from-to-text">до</span>
                <div class="price">180</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Чистка + восстановление цвета: сумка длинной от 40 см
            </div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">140</div>
                <span class="from-to-text">до</span>
                <div class="price">780</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">Реставрация кожи</div>
            <div class="service-price">
              <div class="content">
                <span class="from-to-text">от</span>
                <div class="price">25</div>
                <span class="from-to-text">до</span>
                <div class="price">50</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="additional-service">
            <div class="services-list single-item">
              Базовая чистка любой сумки из гладкой кожи
              <div class="service-hint">
                *чистка специальным мылом для кожи, обслуживание кремом для
                защиты от загрязнений
              </div>
            </div>
            <div class="service-price">
              <div class="content">
                <div class="price">98</div>
                <span class="currency">BYN</span>
              </div>
            </div>
          </div>
          <div class="hint">
            * Любые работы выполняются по предварительной оплате 50%
            <br />
            ** Предоставление услуг день в день без очереди - 100%.
            <br />
            ** Предоставление услуг без очереди в течение 2-3 дней - 40%.
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div class="contact-container">
    <div class="contact-text">
      <p>ДЛЯ БОЛЕЕ ТОЧНОЙ ОЦЕНКИ СТОИМОСТИ,</p>
      <p>ВЫШЛИТЕ 2-3 ФОТО СВОИХ ИЗДЕЛИЙ УДОБНЫМ СПОСОБОМ</p>
    </div>
    <a
      href="mailto:zanovo.sh@gmail.com"
      rel="noreferrer"
      target="_blank"
      class="social email"
      (click)="trackCommunication('email')"
      >E-mail</a
    >
    <a
      href="https://t.me/zanovo911"
      rel="noreferrer"
      target="_blank"
      class="social telegram"
      (click)="trackCommunication('telegram')"
      >Telegram</a
    >
    <a
      href="viber://chat?number=%2B375296383203"
      rel="noreferrer"
      target="_blank"
      class="social viber"
      (click)="trackCommunication('viber')"
      >Viber</a
    >
  </div>
</div>
